
@{
    ViewBag.Title = "OilGhee Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using HMIS_WEB.Models.Master
@model ModelMedicineMaster
<style>
    .modal {
        vertical-align: middle;
    }
</style>
<section class="content-header">

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Medicine Master</h3>
        </div>


        <div class="box-body">

            @using (Html.BeginForm("MedicineMaster", "Master", FormMethod.Post, new { id = "medicineform" }))
            {
                <div class="col-md-3">
                    <div class="form-group form-group-txtName">
                        <label for="txtName">Name</label>
                        @Html.TextBox("txtName", "", new { @class = "form-control", @placeholder = "Name" })
                    </div>
                </div>               
                <div class="col-md-3">
                    <div class="form-group form-group-ddlFor">
                        <label for="ddlFor">For</label>
                        <select id="ddlFor" class="form-control">
                            <option value="--">Select</option>
                            <option value="MEDICINE">Medicine</option>
                            <option value="MASSAGE">Massage</option>
                            <option value="PANCHAKARMA">Panchakarma</option>
                        </select>

                    </div>
                </div>
                <div class="col-md-3">
                    <div style="display:none;" class="form-group form-group-ddlPanchakarmaType">
                        <label for="ddlPanchakarmaType">Panchakarma Type</label>
                        <select id="ddlPanchakarmaType" class="form-control">
                            <option value="--">Select</option>
                            <option value="VAMAN">Vaman</option>
                            <option value="VIRECHANA">Virechana</option>
                            <option value="BASTI">Basti</option>
                            <option value="NASYA">Nasya</option>
                            <option value="RAKTAMOKSHANA">Raktamokshana</option>
                        </select>
                    </div>
                </div>
            }
        </div>
        <div class="box-footer">
            <button id="btnSave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp; Save</button>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Medicine List</h3>
                </div>
                <div style="padding-left:20px; padding-right:20px;">
                    <table id="example" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Sr. No</th>
                                <th>Name</th>
                                <th>For</th>
                                <th>Type For</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Sr. No</th>
                                <th>Name</th>
                                <th>For</th>
                                <th>Type For</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>

<div class="modal  fade" id="modalsuccess">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 style="color:green; font-size:20px; font-weight:900;" class="modal-title"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;Alert</h4>
            </div>
            <div class="modal-body">
                <p style="color:green; font-size:18px; font-weight:900;">Oil/Ghee Details Saved Successfully..&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-right" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable({
            "lengthMenu": [10,15, 25, 50, 75, 100],
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            ajax: {
                url: ServerURI + "Master/GetAllGheeDetails",
                dataType: 'json',
                type: "POST"
            },
            dataSrc: 'data',
            "columns": [
                { data: "ID" },
                { data: "Name" },
                { data: "For" },
                { data: "TypeFor" }
            ]
        });

        $("#ddlFor").change(function () {

            if ($(this).val() == "PANCHAKARMA") {
                $(".form-group-ddlPanchakarmaType").show();
            }
            else {
                $(".form-group-ddlPanchakarmaType").hide();
            }

        })

        $("#btnSave").click(function () {
            var Name = $("#txtName").val();
            var For = $("#ddlFor").val();
            var PanchakarmaType = $("#ddlPanchakarmaType").val();
            if (Name == "") {
                $(".form-group-txtName").removeClass("has-success").addClass("has-error");
                return false;
            }
            else {
                $(".form-group-txtName").removeClass("has-error").addClass("has-success");
            }


            if (For == "--") {
                $(".form-group-ddlFor").removeClass("has-success").addClass("has-error");
                return false;
            }
            else {
                $(".form-group-ddlFor").removeClass("has-error").addClass("has-success");
                if (For == "PANCHAKARMA") {
                    if (PanchakarmaType == "--") {
                        $(".form-group-ddlPanchakarmaType").removeClass("has-success").addClass("has-error");
                        return false;
                    }
                    else {
                        $(".form-group-ddlPanchakarmaType").removeClass("has-error").addClass("has-success");
                    }
                }
            }

            var MedicineObject = [];
            var Data = {}
            Data.Name = Name;
            Data.Type = "Ghee";
            Data.For = For;
            Data.PanchakarmaType = PanchakarmaType;

            MedicineObject.push(Data);

            var PostData = {};
            PostData.Data = MedicineObject;

            $.ajax({
                type: "POST",
                url: ServerURI + "Master/SaveGheeOilDetails",
                data: { "PostData": JSON.stringify(PostData) },
                dataType: "json",
                async: false,
                success: function (data) {
                    if (data[0] == "true") {
                        $("#modalsuccess").modal("show");
                    }
                }
            });

        });

        $("#modalsuccess").on('hidden.bs.modal', function () {
            $("#txtName").val("");
            $("#ddlType").val("Select");
            $("#ddlFor").val("Select");
            $("#ddlPanchakarmaType").val("Select");
            $(".form-group-ddlPanchakarmaType").hide();
        });


    });

</script>

